.rocket-container {
  display: grid;
  grid-template-columns: 1.25fr 3fr;

  /* grid-template-rows: 1fr; */
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding: 1rem;
}

.rocket-image {
  display: flex;
  height: 200px;
  width: 200px;
}

.r-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.name-descr-container {
  display: flex;
  flex-direction: column;
}

.res-btn {
  width: 150px;
  height: 30px;
  background-color: blue;
  border-style: none;
  color: white;
  border-radius: 4px;
}

.canc-btn {
  width: 150px;
  height: 30px;
  color: gray;
  border-radius: 4px;
}

.badge {
  width: 70px;
  height: 20px;
  background-color: rgb(70, 200, 240);
  border-style: none;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}