@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.profile::before {
  content: '|';
  margin-right: 1.2rem;
  font-weight: bold;
  color: #333;
}

.underline {
  text-decoration: underline;
  color: #4169e1;
}

.nav {
  display: flex;
  padding: 1rem;
  padding-left: 8rem;
  border-bottom: 1px solid gray;
}

.nav-items > * {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.2rem;
}

ul.nav-container-items {
  color: #4169e1;
}

.logo {
  margin-right: auto;
}

.logo p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  padding-left: 5rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 60px;
  width: 4rem;
}

.nav-container {
  align-items: center;
  padding: 1rem 10%;
}

.nav-container ul {
  font-family: 'Roboto', sans-serif;
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  text-decoration: none;
}
